body {
  background-image: url(img/back2.jpg);
  background-size: 100%;
  background-attachment: fixed;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.about {
  position: absolute;
  float:left;
  margin-left: 50%;
  margin-top: 10%;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: bold;
}

.github-link {
  text-decoration: none;
  color: #008B8B;
  outline: none;
}

.github-link:hover {
  color: rgb(3, 184, 184);
  cursor: pointer;
}


div img {
  float:left;
  width: 215px;
  height: 300px;
  border-radius: 20px;
}

.img-main {
  position: absolute;
  margin-left: 3%;
  width: 40%;
  height: 330%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    width: 40%;
    height: 330%;
  }

  to {
    width: 40%;
    height: 330%;
  }

  50% {
    width: 42%;
    height: 340%;
  }
}


h1 {
  font-family: 'Lobster', cursive;
  text-align: left;
}

.main-text {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.clear {
  clear: both;
}

.main-content {
  position: absolute;
  margin-top: 55%;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #F5F5F5;
  border: 1;
  border-radius: 5px;
}

input[type=date]:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

input[type=date]:focus {
  border-color: #48D1CC;
}

table {
  width: 775px;
  position: relative;
  margin: 30px -50px;
}

button{
  font-family: 'Lobster', cursive;
  font-size: 15px; 
  border-radius: 5px;
  outline: none;
  padding: 2px;
  box-shadow: 3px 2px 5px black;
}

button:hover {
  background: linear-gradient(to top, #C0C0C0, #F2F3F4);
  border-color: #48D1CC;
  cursor: pointer;
}

button:focus {
  background: linear-gradient(to top, #C0C0C0, #F2F3F4);
  border-color: #48D1CC;
}

.button-add-advantages{
  position: relative;
  bottom: 2px;
}

input {
  font-family: 'Lobster', cursive;
  background-color: #F5F5F5;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
}

input:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

input:focus {
  border-color: #48D1CC;
}

select {
  font-family: 'Lobster', cursive;
  background-color: #F5F5F5;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
}

select:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

select:focus {
  border-color: #48D1CC;
}

#send_button {
  position: absolute;
  right: 5%;
  margin-bottom: 50px;
}


.learning-info-school:hover {
  background-color: #66CDAA;
}

.learning-info-ssau:hover {
  background-color: #F0E68C;
}

.learning-info-itmo:hover {
  background-color: #F4A460;
}


