body {
  background-image: url(img/back2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.about {
  float:left;
  margin: 60px 30px 20px 30px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: bold;
}

.github-link {
  text-decoration: none;
  color: #008B8B;
  outline: none;
}

.github-link:hover {
  color: rgb(3, 184, 184);
  cursor: pointer;
}


div img {
  float:left;
  width: 215px;
  height: 300px;
  border-radius: 20px;
}

.img-main {
  transition: 1s ease-out;
}

.img-main:hover{
  -webkit-transition: scale(1.05);
  -moz-transition: scale(1.05);
  -o-transition: scale(1.05);
  -ms-transition: scale(1.05);
  transform: scale(1.05); 
  cursor: pointer;
}


h1 {
  font-family: 'Lobster', cursive;
  text-align: left;
}

.main-text {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.clear {
  clear: both;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #F5F5F5;
  border: 1;
  border-radius: 5px;
}

input[type=date]:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

input[type=date]:focus {
  border-color: #48D1CC;
}

table {
  width: 775px;
  position: relative;
  margin: 30px -50px;
}

button{
  font-family: 'Lobster', cursive;
  font-size: 15px; 
  border-radius: 5px;
  outline: none;
}

button:hover {
  background: linear-gradient(to top, #C0C0C0, #F2F3F4);
  border-color: #48D1CC;
  cursor: pointer;
}

button:focus {
  background: linear-gradient(to top, #C0C0C0, #F2F3F4);
  border-color: #48D1CC;
}

input {
  font-family: 'Lobster', cursive;
  background-color: #F5F5F5;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
}

input:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

input:focus {
  border-color: #48D1CC;
}

select {
  font-family: 'Lobster', cursive;
  background-color: #F5F5F5;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
}

select:hover {
  border-color: #48D1CC;
  cursor: pointer;
}

select:focus {
  border-color: #48D1CC;
}

#send_button {
  position: absolute;
  right: 30%;
  margin-bottom: 50px;
}



